@import "sizes";
@import "colors";
@import "fonts";
@import "positioning";

html, body{
  height:100%;
}

//scrollbar mod
*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
