.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.auto-width {
  width: auto; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.verticalCenter {
  position: relative;
  top: 49%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.atTop {
  top: 0px; }

.atBottom {
  bottom: 0px;
  left: 0px;
  position: absolute; }

.textCenter {
  text-align: center; }

.textLeft {
  text-align: left; }

.absolutePos {
  position: absolute; }

.underneath {
  z-index: -1; }

.top-buffer-sm {
  margin-top: 20px; }

.no-top-buffer {
  margin-top: 0px; }

.top-buffer {
  margin-top: 30px; }

.top-buffer-lg {
  margin-top: 40px; }

.top-buffer-xl {
  margin-top: 50px; }

.side-buffer-xs-inverse {
  margin-left: -10px;
  margin-right: -10px; }

.side-buffer-sm {
  margin-left: 20px;
  margin-right: 20px; }

.side-buffer {
  margin-left: 30px;
  margin-right: 30px; }

.bottom-buffer-sm {
  margin-bottom: 20px; }

.bottom-buffer {
  margin-bottom: 30px; }

.bottom-buffer-xl {
  margin-bottom: 50px; }

.buffer-sm {
  margin: 20px; }

.buffer-xl {
  margin: 20px; }

.left-buffer-sm {
  margin-left: 20px; }

.left-buffer-xl {
  margin-left: 50px; }

.side-padding-xs {
  padding-left: 10px;
  padding-right: 10px; }

.side-padding {
  padding-left: 30px;
  padding-right: 30px; }

.side-padding-xl {
  padding-left: 50px;
  padding-right: 50px; }

.no-padding {
  padding: 0px; }

.all-side-padding-xs {
  padding: 10px; }

.all-side-padding-sm {
  padding: 20px; }

.all-side-padding {
  padding: 30px; }

.top-padding {
  padding-top: 30px; }

.top-padding-xs {
  padding-top: 10px; }

.bottom-padding {
  padding-bottom: 30px; }

.bottom-padding-sm {
  padding-bottom: 20px; }

.bottom-padding-xs {
  padding-bottom: 10px; }

.top-bottom-padding-sm {
  padding-top: 20px;
  padding-bottom: 20px; }

md-toolbar {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
