<md-sidenav-container class="full-height">
  <md-sidenav #sidenav>
    salut
  </md-sidenav>

  <md-toolbar class="auto-width buffer-xl all-side-padding-sm">
    <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <md-icon svgIcon="menu"></md-icon>
    </button>
    <md-input-container class="all-side-padding-sm">
      <input [(ngModel)] = "address" (setAddress) = "getAddress($event)" googleplace mdInput placeholder="What is the address?" value="Sushi">
    </md-input-container>
    <button md-mini-fab class="example-fab" (click)="search()">
      <md-icon svgIcon="menu"></md-icon>
    </button>
  </md-toolbar>
  <sebm-google-map class="full-height full-width absolutePos atTop underneath" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <sebm-google-map-marker *ngFor="let result of competitors.gplacesResults" (markerClick)="openStatistics()" [latitude]="result.geometry.location.lat" [longitude]="result.geometry.location.lng"></sebm-google-map-marker>
  </sebm-google-map>
  <!--<sebm-google-map class="full-height full-width absolutePos atTop underneath" [latitude]="lat" [longitude]="lng" [zoom]="zoom">-->
    <!--<sebm-google-map-marker *ngFor="let result of competitors.facebook" (markerClick)="openStatistics()" [latitude]="result.location.latitude" [longitude]="result.location.longitude"></sebm-google-map-marker>-->
  <!--</sebm-google-map>-->

</md-sidenav-container>


